[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arnie"]
	path = arnie
	url = https://github.com/imanuelcostigan/arnie
[submodule "dataonderivatives"]
	path = dataonderivatives
	url = https://github.com/imanuelcostigan/dataonderivatives
[submodule "fmbasics"]
	path = fmbasics
	url = https://github.com/imanuelcostigan/fmbasics
[submodule "managelocalrepo"]
	path = managelocalrepo
	url = https://github.com/imanuelcostigan/managelocalrepo
