[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "arnie"]
	path = arnie
	url = https://github.com/imanuelcostigan/arnie
	shallow = true
	registered = true
[submodule "dataonderivatives"]
	path = dataonderivatives
	url = https://github.com/imanuelcostigan/dataonderivatives
	shallow = true
	registered = true
[submodule "fmbasics"]
	path = fmbasics
	url = https://github.com/imanuelcostigan/fmbasics
	shallow = true
	registered = true
[submodule "fmdates"]
	path = fmdates
	url = https://github.com/imanuelcostigan/fmdates
	shallow = true
	registered = true
